.homepage {
    height: 100%;
    width: 100%;
    display: flex;
}

.homepage-left {
    width: 20%;
    background-color: #f5f8fa;
}

.logo-image {
    height: 80px;
}

.logo-image img {
    width: 90%;
}

.side-nav-bar {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.nav-bar-item {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
}

.nav-bar-item-active {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background-color: #ff6900;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

a {
    text-decoration: none;
}

.homepage-right {
    width: 80%;
    background-color: white;
}
